@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
* {
    font-family: 'Abril Fatface', cursive;
}

.shadow-box {
    transition: .2s ease-in;
}

.shadow-box:hover {
    box-shadow: -0px 2px 10px -0px rgb(167, 163, 163);
    transition: .2s ease-in;
}